# Updated for Python 3.8
torch==2.1.0
pysolr==3.9.0
emoji==2.8.0
matplotlib
tqdm
nltk==3.8.1
numpy
segtok==1.5.11
flair==0.13.0
# pytorch-transformers may be replaced by huggingface transformers
# See this PR https://github.com/facebookresearch/BLINK/pull/130/files
pytorch-transformers==1.2.0 
transformers==4.34.1
colorama
termcolor
faiss-cpu==1.7.4
